html, body {
 margin: 0px;
 padding: 0px;
 background-color: white;   
}

ul.navigation{
    padding:0px;
    margin:0px;
    list-style:none;
    display:flex;
    width:100%;
    background-color:#adadc3;
    margin-bottom: 5px;
}

ul.navigation li{
    display:flex;
    padding:10px;
    background-color:blue;
    color:black;
}

ul.navigation li a{
    color:white;
    text-decoration:none;
    
}
