<template>
    <form>
        <div class="form-group col-md-4">
            <label for="content">Content</label>
            <input type="text" class="form-control" v-model="content" v-on:keydown.enter.prevent="submitContent">                    
        </div>
        <div class="form-group col-md-4">
            <button type="button" class="btn btn-md btn-primary" @click.prevent="submitContent">Submit Content</button>
        </div>
    </form>
</template>

<script>
    export default {
        data(){
            return {
                content: '',
            }
        },
        mounted(){

        },
        methods: {
            submitContent(){
                this.$axios
                        .post(''+this.$parent.backendUrl+'/api/quote',{
                            content: this.content
                        })
                        .then(response => {
                            this.content = '';
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        })
            }
        }
    }
</script>