<template>
    <div>
        <!-- <button class="btn btn-primary btn-md" @click="getQuotes"> Get Quotes </button>     -->
        <app-quote v-for="quote in quotes" :key="quote.id" :qt="quote" @quoteDeleted="onQuoteDeleted($event)">

        </app-quote>
    </div>
</template>

<script>
import Quote from './quote.vue';

    export default {
        data() {
            return {
                quotes: []
            }
        },
        components: {
            'app-quote': Quote
        },
        mounted(){
            this.getQuotes();
        },
        methods : {
            getQuotes(){
                this.$axios
                    .get(''+this.$backendUrl+'/api/quotes')
                    .then(response => {
                        this.quotes = response.data.quotes;
                    })
                    .catch(error => {
                        console.log(response);
                    });
            },
            onQuoteDeleted(id){
                const position = this.quotes.findIndex((element)=>{
                    return element.id == id;
                });
                this.quotes.splice(position.id,1);
            }
        }
    }
</script>