<template>
    <div class="panel" style="margin:10px 10px;">
        <div class="panel-body">
            {{qt.content}}
        </div>
        <div class="panel-footer">
            <div v-if="editing == true" >
                <input type="text" v-model="editValue" class="" id="">
                <button class="btn btn-sm btn-success" @click.prevent="onUpdate">Save</button> |
                <button class="btn btn-sm btn-danger" @click.prevent="onCancel">Cancel</button>
            </div>
            <div v-if="editing == false">
                <button class="btn btn-sm btn-warning" @click.prevent="onEdit">Edit</button> |
                <button class="btn btn-sm btn-danger" @click.prevent="onDelete">Delete</button>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props:['qt'],
        data() {
            return {
                editing:false,
                editValue : this.qt.content
            }
        },
        methods: {
            onEdit() {
                this.editing = true;
                this.editValue = this.qt.content
            },
            onCancel() {
                this.editing = false;
            },
            onDelete(){
                if(confirm('Are you Sure?')){
                    this.$emit('quoteDeleted',this.qt.id);

                    this.$axios
                            .delete(''+this.$backendUrl+'/api/quote/'+this.qt.id+'')
                            .then(response => {
                                console.log(response);
                            })
                            .catch(response => {
                                console.log(response);
                            });
                }
            },
            onUpdate(){
                this.$axios
                        .put(''+this.$backendUrl+'/api/quote/'+this.qt.id+'',{
                            content: this.editValue
                        })
                        .then(response => {
                            alert('update success');
                            console.log(response.data.quote.content);
                            this.editing = false;
                            this.qt.content = response.data.quote.content;
                        })
                        .catch(response => {
                            console.log(response);
                        });
            }   
        }
    }

</script>

<style scooped>
    a{
        cursor:pointer;
    }
    button{
        color:white;

    }


</style>
