<template>
    <div>
        <h3> this is user overview</h3>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods : {
            onclick(){
            }
        }
    }
</script>