<template>
  <div id="app">
    <h3 class="display-5">vue & laravel learning</h3>
      <ul class="navigation">
          <li><router-link to="/">Home</router-link></li>  
          <li><router-link to="/new-quote">New Quote</router-link></li>  
          <li><router-link to="/quotes">Quotes</router-link></li>
      </ul>

      <div class="container">
        <router-view></router-view>
      </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      backendUrl : 'http://backend-machine.local'
    }
  }
}
</script>

<style>

</style>
